/*** The new CSS Reset - version 1.4.4 (last updated 22.12.2021) ***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
  padding: 0;
}

li {
  list-style: none;
  color: var(--body);
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  min-width: 100vw;
  overflow-x: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/**My Specs*/
/*html {
    font-weight: var(--fw-base);
}*/
.sry-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Alata", sans-serif;
  color: hsl(var(--body));
}

p {
  max-width: 60ch;
  text-align: center;
  color: hsl(var(--clr-black-100));
  font-family: "Josefin Sans", sans-serif;
}

/*Utility font size classes*/
.fs_100 {
  font-size: -1.134rem;
}

.fs_200 {
  font-size: 1.067rem;
}

.fs_300 {
  font-size: 1.1737rem;
}

.fs_400 {
  font-size: 1.4938rem;
}

.fs_500 {
  font-size: 2.134rem;
}

.fs_600 {
  font-size: 2.76353rem;
}

.fs_700 {
  font-size: 3.201rem;
}

.fs_800 {
  font-size: 4.268rem;
}

@media only screen and (min-width: 60em) {
  .fs_100 {
    font-size: -1.5rem;
  }
  .fs_200 {
    font-size: 1.25rem;
  }
  .fs_300 {
    font-size: 1.375rem;
  }
  .fs_400 {
    font-size: 1.75rem;
  }
  .fs_500 {
    font-size: 2.5rem;
  }
  .fs_600 {
    font-size: 3.2375rem;
  }
  .fs_700 {
    font-size: 3.75rem;
  }
  .fs_800 {
    font-size: 5rem;
  }
}
h6,
.h6 {
  font-size: 1.25rem;
  line-height: calc(2px + 2ex + 2px);
  margin-bottom: 0.65em;
  font-size: clamp(
                1rem,
                4.25vw+ 1rem,
                1.25rem
            );
}

h5,
.h5 {
  font-size: 1.5625rem;
  line-height: calc(2px + 2ex + 2px);
  margin-bottom: 0.65em;
  font-size: clamp(
                1.046875rem,
                4.515625vw+ 1rem,
                1.5625rem
            );
}

h4,
.h4 {
  font-size: 1.953125rem;
  line-height: calc(2px + 2ex + 2px);
  margin-bottom: 0.65em;
  font-size: clamp(
                1.30859375rem,
                4.64453125vw+ 1rem,
                1.953125rem
            );
}

h3,
.h3 {
  font-size: 2.44140625rem;
  line-height: calc(2px + 2ex + 2px);
  margin-bottom: 0.65em;
  font-size: clamp(
                1.6357421875rem,
                4.8056640625vw+ 1rem,
                2.44140625rem
            );
}

h2,
.h2 {
  font-size: 3.0517578125rem;
  line-height: calc(2px + 2ex + 2px);
  margin-bottom: 0.65em;
  font-size: clamp(
                2.0446777344rem,
                5.0070800781vw+ 1rem,
                3.0517578125rem
            );
}

h1,
.h1 {
  font-size: 3.8146972656rem;
  line-height: calc(2px + 2ex + 2px);
  margin-bottom: 0.65em;
  font-size: clamp(
                2.555847168rem,
                5.2588500977vw+ 1rem,
                3.8146972656rem
            );
}

:root {
  /**Colors**/
  --clr-black-100: 0 0% 0%;
  --clr-white-100: 0 0% 100%;
  --clr-steel-100: 0 0% 55%;
  --clr-gray-100: 0 0% 41%;
  /**End Colors**/
  /**Font Sizes - custom props**/
  --fs-100: -1.134rem;
  --fs-200: 1.067rem;
  --fs-300: 1.1737rem;
  --fs-400: 1.4938rem;
  --fs-500: 2.134rem;
  --fs-600: 2.76353rem;
  --fs-700: 3.201rem;
  --fs-800: 4.268rem;
  /**End Font Sizes**/
  /**Font Weights**/
  --fw-100: 100;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  /**End Font Weights**/
  /**sPACING**/
  --sp-sm-1: 0.125rem;
  --sp-sm-2: 0.25rem;
  --sp-sm-3: 0.375rem;
  --sp-sm-4: 0.5rem;
  --sp-sm-5: 0.625rem;
  --sp-sm-6: 0.75rem;
  --sp-sm-7: 0.875rem;
  --sp-lg-1: 1.125rem;
  --sp-lg-2: 1.25rem;
  --sp-lg-3: 1.375rem;
  --sp-lg-4: 1.5rem;
  --sp-lg-5: 1.625rem;
  --sp-lg-6: 1.75rem;
  --sp-lg-7: 1.875rem;
  /**End sPACING**/
  /*    --fw-sm: 500;
      --fw-base: 700;
      --sp-base: 16px;*/
  /*   --sp-sm-1: calc(7/8 * var(--sp-base));
  --sp-sm-2: calc(6/8 * var(--sp-base));
  --sp-sm-3: calc(5/8 * var(--sp-base));
  --sp-sm-4: calc(4/8 * var(--sp-base));
  --sp-sm-5: calc(3/8 * var(--sp-base));
  --sp-sm-6: calc(2/8 * var(--sp-base));
  --sp-sm-7: calc(1/8 * var(--sp-base));
  --sp-lg-7: calc(1 + 7/8 * var(--sp-base));
  --sp-lg-6: calc(1 + 6/8 * var(--sp-base));
  --sp-lg-5: calc(1 + 5/8 * var(--sp-base));
  --sp-lg-4: calc(1 + 4/8 * var(--sp-base));
  --sp-lg-3: calc(1 + 3/8 * var(--sp-base));
  --sp-lg-2: calc(1 + 2/8 * var(--sp-base));
  --sp-lg-1: calc(1 + 1/8 * var(--sp-base));*/
  /*   --bd-radius: 24px;*/
  --body:hsl(var(--clr-black-100));
}
@media only screen and (min-width: 60em) {
  :root {
    --fs-100: -1.5rem;
    --fs-200: 1.25rem;
    --fs-300: 1.375rem;
    --fs-400: 1.75rem;
    --fs-500: 2.5rem;
    --fs-600: 3.2375rem;
    --fs-700: 3.75rem;
    --fs-800: 5rem;
  }
}

.home_container {
  width: min(100ch, 100vw - 2rem);
  margin-inline: auto;
}

.container {
  width: min(100rem, 100vw - 2rem);
  padding-inline: auto;
}

.grid_container {
  display: grid;
  place-items: center;
}

main {
  background-color: hsl(var(--bg));
  overflow-y: hidden;
}

.flow > *:where(:not(:first-child)) {
  margin-block-end: var(--flow-space, 0.5rem);
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

/*#app{
  display: grid;
  grid-template-rows: auto 1fr auto;
}*/
.primary_header {
  position: relative;
  min-height: 65vh;
  width: 100vw;
  background-image: url("../assets/images/desktop/image-hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
@media only screen and (min-width: 40em) {
  .primary_header {
    grid-template-columns: 1fr 0.5fr auto 1fr 1fr;
    padding-inline: calc(var(--sp-lg-7) * 2);
  }
}
.primary_header .logo {
  z-index: 101;
  grid-column: 1/4;
  height: 5rem;
  padding-block-start: var(--sp-lg-7);
  margin-inline-start: var(--sp-lg-7);
}
@media only screen and (min-width: 40em) {
  .primary_header .logo {
    grid-column: 1;
  }
}
.primary_header .mobile_nav_toggle {
  display: none;
}
@media screen and (max-width: 35em) {
  .primary_header .mobile_nav_toggle {
    display: block;
    position: absolute;
    background: url("../assets/images/icon-hamburger.svg");
    background-repeat: no-repeat;
    border: 0;
    z-index: 101;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
  }
  .primary_header .change.mobile_nav_toggle {
    position: absolute;
    background: url("../assets/images/icon-close.svg");
    background-repeat: no-repeat;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
  }
}
.primary_header nav {
  grid-column: 5;
}
.primary_header .primary_navigation {
  width: 100%;
}
@media only screen and (min-width: 40em) {
  .primary_header .primary_navigation {
    justify-content: space-evenly;
  }
}
.primary_header .primary_navigation .nav_link {
  color: hsl(var(--clr-white-100));
  font-size: var(--fs-100);
  font-family: "Josefin Sans", sans-serif;
  font-weight: var(--fw-200);
  text-transform: uppercase;
}
@media only screen and (min-width: 40em) {
  .primary_header .primary_navigation .nav_link {
    font-weight: var(--fw-400);
    text-transform: capitalize;
  }
}
@media screen and (max-width: 35em) {
  .primary_header .primary_navigation {
    z-index: 100;
    position: fixed;
    inset: 0 0 0 0%;
    background-color: hsl(var(--clr-black-100));
    flex-direction: column;
    padding: min(20vh, 10rem) 2em;
    transform: translateX(100%);
  }
}
@media only screen and (min-width: 40em) {
  .primary_header .primary_navigation {
    padding-block-start: var(--sp-lg-7);
  }
}
.primary_header .change.primary_navigation {
  transform: translateX(0%);
}
.primary_header .brand {
  display: grid;
  align-content: center;
  grid-row: 2;
  grid-column: 1/-1;
  height: 15rem;
  max-width: 25rem;
  margin-inline: var(--sp-sm-7);
  line-height: normal;
  font-size: var(--fs-500);
  padding: var(--sp-lg-2);
  border: solid hsl(var(--clr-white-100)) 3px;
  font-weight: var(--fw-300);
}
@media only screen and (min-width: 40em) {
  .primary_header .brand {
    grid-column: 1;
    grid-row: 2;
    height: 12rem;
  }
}
.primary_header .brand_text {
  color: hsl(var(--clr-white-100));
  width: 10ch;
  text-align: start;
}
@media only screen and (min-width: 40em) {
  .primary_header .brand_text {
    width: 12ch;
  }
}

.uppercase {
  text-transform: uppercase;
}

/*# sourceMappingURL=main.css.map */
