@use '../abstracts/' as *;
@use '../base' as *;

$header_url: url("../assets/images/desktop/image-hero.jpg");
$hamburger_menu: url("../assets/images/icon-hamburger.svg");
$hamburger_close: url("../assets/images/icon-close.svg");
$z-index-logo:100;

.primary_header{
    position: relative;
    min-height: 65vh;
    width: 100vw;
    background-image: $header_url;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    
  
    @include mediaQry(small){
        grid-template-columns: 1fr .5fr auto 1fr 1fr;
        padding-inline: calc(var(--sp-lg-7) *2);
        
       
    }

    .logo{
        z-index: $z-index-logo + 1;
        grid-column: 1/4;
        height: 5rem;
        padding-block-start: var(--sp-lg-7);
        margin-inline-start: var(--sp-lg-7);

        @include mediaQry(small){
            grid-column: 1;
        }
      
    }
    .mobile_nav_toggle{
        display: none;
    }
    @media screen and(max-width:35em) {
        .mobile_nav_toggle{
            display: block;
            position: absolute;
            background: $hamburger_menu;
            background-repeat: no-repeat;
            border: 0;
            z-index: $z-index-logo + 1;
            width: 2rem;
            aspect-ratio: 1;
            top: 2rem;
            right: 2rem;
           }
        
           .change{
            &.mobile_nav_toggle{
                position: absolute;
                background: $hamburger_close;
                background-repeat: no-repeat;
                width: 2rem;
                aspect-ratio: 1;
                top: 2rem;
                right: 2rem;
            }
          
           }
    }
   nav{
    grid-column: 5;
   
   }
    .primary_navigation{
        width: 100%;
        @include mediaQry(small){
                justify-content: space-evenly;
        }
        
        .nav_link{
            color: hsl(var(--clr-white-100));
            font-size: var(--fs-100);
            font-family: $ff-body;
            font-weight: var(--fw-200);
            text-transform: uppercase;
            @include mediaQry(small){
                font-weight: var(--fw-400);
            text-transform: capitalize;

            }
            
        }
        @media screen and(max-width: 35em) {
            z-index: $z-index-logo;
            position: fixed;
            inset: 0 0 0 0%;
            background-color: hsl(var(--clr-black-100));
            flex-direction: column;
            padding: min(20vh, 10rem) 2em;
            transform: translateX(100%);
            }

            @include mediaQry(small){
               
                padding-block-start: var(--sp-lg-7);
            }
    }

    .change{
        &.primary_navigation{
            transform: translateX(0%);
        }
    }
    .brand{
        display: grid;
        align-content: center;
        grid-row: 2;
        grid-column: 1/-1;
        height: 15rem;
        max-width: 25rem;
        
        margin-inline: var(--sp-sm-7);
        line-height: normal;
        font-size: var(--fs-500);
        padding: var(--sp-lg-2);
        border: solid hsl(var(--clr-white-100)) 3px;
        font-weight: var(--fw-300);

        @include mediaQry(small){
            grid-column: 1;
            grid-row: 2;
            height: 12rem;


        }

        &_text{
            color: hsl(var(--clr-white-100));
                width: 10ch;
                text-align: start;

                @include mediaQry(small){
                    width: 12ch;
                }
            }

           
    }
  
}